<% provide :page_title, "Добавление книги" %>

<h1 class="text-center display-5 mb-3">Добавить книгу в библиотеку</h1>
      <p class=" text-center mb-3">
          Эта страница предназначена для добавления книг в библиотеку.
      </p>
      
<%= render 'form', places: @places %>