<h1 class="display-1 text-center">Полка такая-то</h1>


<p class="lead">
    <%= @place.place_name %>

    <% @books.each do |book| %>
        <p class="lead">
            <%= link_to "#{book.title}", book_path(book.id) %>
        </p>
    <% end %>
</p>